/*Fonts*/
@font-face {
  font-family: Quicksand;
  src: url("../css/fonts/Quicksand-Regular.otf")
}





/*HTML, Body*/
html {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -2;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  z-index: -2;
  background-color: black;
}





/*Navigation*/
.nav {
  position: fixed;
  visibility: hidden;
}





/*Side Navigation*/
.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Indie Flower', bgBold, Helvetica;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover{
  color: #f1f1f1;
}

.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}





/*Side Button*/
.side-button {
  position: fixed;
}

.side-button a {
  position: absolute;
  padding: 3vw;
  cursor: pointer;
}





/*Home*/
.home_page {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../images/landscape_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}



/*Title*/
.home_title {
  position: absolute;
  height: auto;
  width: 100%;
  top: 10vw;
}

.home_title h1 {
  font-size: 10vw;
  color: white;
  text-align: center;
  font-family: 'Indie Flower', bgBold, Helvetica;
  font-weight: 100;
}

.home_title h2 {
  margin-top: -4%;
  font-size: 5vw;
  color: white;
  text-align: center;
  font-family: 'Indie Flower', bgBold, Helvetica;
  font-weight: 100;
}

.home_title a {
  display: block;
}

.home_title a h1 {
  position: absolute;
  width: 20%;
  left: 40%;
  cursor: pointer;
  color: white;
  font-size: 4vw;
  text-align: center;
  font-family: 'Indie Flower', bgBold, Helvetica;
  border: 0.2vw solid black;
  border-radius: 5vw;
  padding: 1vw;
  background-color: rgba(0,0,0,0.1);
}

.home_title a h1:hover {
  color: white;
  background-color: rgba(0,0,0,0.3);
}

.home_title a h1:active {
  color: gray;
  background-color: rgba(0,0,0,0.5)
}





/*Services*/
.services_page {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #438496;
  z-index: -1;
}



/*Slanted Border*/
.services_page .border {
  width: 100%;
  position: absolute;
  visbility: hidden;
}




/*Title*/
.services_page .about_title {
  width: 100%;
  position: absolute;
}

.services_page .about_title h1 {
  font-size: 8vw;
  font-family: 'Indie Flower', bgBold, Helvetica;
  font-weight: 500;
}



/*Cartoon*/
.services_page .cartoon {
  width: auto;
  height: auto;
}

.services_page .cartoon .lawn-mower {
  visibility: hidden;
}





/*Contact*/
.contact_page {
  position: relative;
  width: 100%;
  height: 110%;
  margin: 0;
  padding: 0;
  z-index: -2;
  background-color: #3CC47C;
}



/*Slanted Border*/
.contact_page .border {
  width: 100%;
  position: absolute;
  top: -5%;
  left: -1%;
  transform: rotate(-2deg);
  border: 2.5vw solid #438496;
}
