/*Fonts*/
@font-face {
  font-family: Quicksand;
  src: url("../css/fonts/Quicksand-Regular.otf")
}





/*HTML, Body*/
html {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -2;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  z-index: -2;
  background-color: black;
}





/*Navigation*/
.nav {
  position: absolute;
  width: 100%;
  height: auto;
  animation-name: nav;
  animation-duration: 0.7s;
}

/*Animation*/
@keyframes nav {
  0% {
    position: relative;
    top: -100px;
  }
  100% {
    position: relative;
    top: 0px;
  }
}

.nav a {
  position: relative;
  padding: 0.8vw 1.5vw;
  float: right;
  text-align: left;
  color: white;
  font-size: 1vw;
  font-family: 'Indie Flower', bgBold, Helvetica;
  text-decoration: none;
  font-weight: 500;
}

.nav .closebtn {
  visibility: hidden;
}

.nav a:hover {
  color: gray;
}




/*Side Navigation*/
.sideNav {
  position: fixed;
  visibility: hidden;
}





/*Side Button*/
.side-button {
  position: fixed;
  visibility: hidden;
}

.side-button {
  position: absolute;
}





/*Home*/
.home_page {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../images/landscape_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 0.7vw solid #e6e6e6;
  z-index: -1;
}



/*Title*/
.home_title {
  position: absolute;
  height: auto;
  width: 100%;
  top: 10vw;
}

.home_title h1 {
  font-size: 5vw;
  text-align: center;
  font-family: 'Indie Flower', bgBold, Helvetica;
  font-weight: 100;
}

.home_title h2 {
  margin-top: -4%;
  font-size: 3vw;
  text-align: center;
  font-family: 'Indie Flower', bgBold, Helvetica;
  font-weight: 100;
}

.home_title a {
  display: block;
}

.home_title a h1 {
  position: absolute;
  width: 20%;
  left: 40%;
  cursor: pointer;
  color: black;
  font-size: 1.5vw;
  text-align: center;
  font-family: 'Indie Flower', bgBold, Helvetica;
  border: 0.2vw solid black;
  border-radius: 3vw;
  padding: 0.3vw;
  background-color: rgba(0,0,0,0.1);
}

.home_title a h1:hover {
  color: black;
  background-color: rgba(0,0,0,0.3);
}

.home_title a h1:active {
  color: white;
  background-color: rgba(0,0,0,0.5)
}





/*Services*/
.services_page {
  position: relative;
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(#80c1ff, #99ceff);
  z-index: -1;
}



/*Slanted Border*/
.services_page .border {
  width: 100%;
  position: absolute;
  top: -5%;
  left: -1%;
  transform: rotate(2deg);
  border: 5vw solid #80c1ff;
}



/*Images*/
/*Hedging*/
.services_page .hedging {
  height: auto;
  width: 50%;
  position: relative;
  top: 20%;
  left: 3%;
}

.services_page .hedging img {
  width: 10vw;
  height: auto;
  display: inline-block;
  padding: 1vw;
  padding-left: 0;
  border-left: 0.3vw solid black;
}

.services_page .hedging h1 {
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  font-family: 'Indie Flower', bgBold, Helvetica;
  font-size: 1.3vw;
  color: black;
  padding: 1vw;
}

/*Lawn Care*/
.services_page .lawn-care {
  height: auto;
  width: 50%;
  position: relative;
  top: 20%;
  left: 20%;
}

.services_page .lawn-care img {
  width: 10vw;
  height: auto;
  display: inline-block;
  padding: 1vw;
  padding-right: 0;
  border-right: 0.3vw solid black;
}

.services_page .lawn-care h1 {
  position: relative;
  display: inline-block;
  float: left;
  margin: 0;
  vertical-align: top;
  font-family: 'Indie Flower', bgBold, Helvetica;
  font-size: 1.3vw;
  color: black;
  padding: 1vw;
}

/*Mulching*/
.services_page .mulching {
  height: auto;
  width: 50%;
  position: relative;
  top: 20%;
  left: 3%;
}

.services_page .mulching img {
  width: 10vw;
  height: auto;
  display: inline-block;
  padding: 1vw;
  padding-left: 0;
  border-left: 0.3vw solid black;
}

.services_page .mulching h1 {
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  font-family: 'Indie Flower', bgBold, Helvetica;
  font-size: 1.3vw;
  color: black;
  padding: 1vw;
}






/*Title*/
.services_page .about_title {
  width: 100%;
  position: absolute;
}

.services_page .about_title h1 {
  font-size: 3vw;
  font-family: 'Indie Flower', bgBold, Helvetica;
  font-weight: 500;
}



/*Cartoon*/
.services_page .cartoon {
  width: auto;
  height: auto;
}

.services_page .cartoon .lawn-mower {
  top: 96%;
  left: 70%;
  position: absolute;
  width: 4vw;
  height: auto;
  transform: rotate(-2deg);
}





/*Contact*/
.contact_page {
  position: relative;
  width: 100%;
  height: 110%;
  margin: 0;
  padding: 0;
  z-index: -2;
  background-color: #3CC47C;
}



/*Slanted Border*/
.contact_page .border {
  width: 100%;
  position: absolute;
  top: -5%;
  left: -1%;
  transform: rotate(-2deg);
  border: 2.5vw solid #99ceff;
}
